@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.3s;
}
body{
    overflow: hidden;
}

.cont {
    max-width: 1140px;
    margin: 0 auto;
}

.link_color {

    // transition: all 0.5s ;
    &:hover {
        color: #0047E1;

        .hover_svg {
            fill: #0047E1;
        }
    }

}

.actove_link {
    color: #0047E1;

    .hover_svg {
        fill: #0047E1;
    }
}

.btn_hover {
    &:hover {
        path {
            fill: #9298A4;
        }
    }
}

.text_anim1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
    font-weight: 500;
    // height: ;
    cursor: pointer;
    gap: 5px;


    div {
        transition: all 0.5s;
        transform: scaleX(0);

    }

    &:hover {
        color: #0047E1;

        div {
            transform: scaleX(1);

        }
    }
}

.text_anim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
    font-weight: 500;
    flex-wrap: wrap;
    // height: ;
    cursor: pointer;
    gap: 5px;

    div {
        transition: all 0.5s;
        transform: scaleX(0);

    }

    &:hover {
        color: #56CA00;

        div {
            transform: scaleX(1);

        }
    }
}

.svg_1 svg {
    width: 10px;

}

.svg_2 svg {
    width: 10px;
}

.svg_3 svg {
    width: 10px;
}


.MuiFormLabel-root {
    font-size: 14px !important;
}


.MuiTypography-root {
    font-size: 12px !important;
}

.register_img {
    background-image: url(./assets/Shape.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
}

.swiper-pagination-bullet-active {
    background-color: #56CA00 !important;
}